# Αρχεία για να αγνοούνται από το Git

# Αποκλείει το αρχείο με τα API keys
secrets.py

# Αποκλείει τους φακέλους και αρχεία που δημιουργεί το PyInstaller
__pycache__/
build/
dist/
*.spec
# Αυτό θα αγνοήσει όλα τα .spec αρχεία, όπως το bigpic.spec

# Αποκλείει τους φακέλους του virtual environment
.venv/
venv/
env/

# Αποκλείει αρχεία ρυθμίσεων IDE (PyCharm)
.idea/

# Αποκλείει αρχεία ρυθμίσεων εφαρμογής που είναι τοπικά
config.json

bigpic2.py